<section class="line-recipe">
    <a href="/recipe/{{id}}">
        <div>{{title}}</div>
        {{!-- <div>Posted on {{format_date createdDate}} at {{format_time createdDate}}</div> --}}
    </a>
</section> 