{{#if recipes}}
    <h3>Your Recipes:</h3>

    <!-- For each recipe, the recipe-details partial is used to render the recipe title -->
    {{#each posts as |post|}}
    {{> recipeTitles}}
    {{/each}}

{{/if}}

{{!-- need new recipe button --}}