<div class="button-container">
    <button onclick="window.location.href='/new'" class="btn btn-primary">Add Recipe</button>
</div>

<div class="recipe-container">
    {{#if recipes}}
        <h3>Your Recipes:</h3>
        <div class="recipe-list">
            {{#each recipes as |recipe|}}
                {{#if recipe.title}}
                    {{> recipeTitles}}
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</div>

