<h4>Edit recipe form goes here</h4>
<div>Class on the form element needs to inclue "edit-recipe-form"</div>

Make sure element IDs match those specified in editRecipe.js
Put these in various form elements:
{{recipe.title}}
{{recipe.ingredients}}
{{recipe.instructions}}








  <script src="/js/editRecipe.js"></script>