<h4>recipe content goes here as well as EDIT and DELETE buttons</h4>
<h5>EDIT button should include this link: 'href="/api/recipe/{{id}}"'</h5>
<h5>DELETE button runs deleteRecipe script; addEventListener to that button</h5>














<script src="/js/deleteRecipe.js"></script>